.home {
  background-color: #FFFFFF;


  .home__country {
    margin: 30px 0px;
    .home__label {
      font-size: 3vh;
      font-weight: 600;
      margin: 0px 20px 0px 30px;
      color: #323232;
    }
  }


  .home_summary {
    margin-top: 50px;
    .home__title {
      font-size: 3vh;
      font-weight: 600;
      color: #323232;
      margin-left: 30px;
    }
    .home__widgets {
      display: flex;
      justify-content: space-around;
      margin: 60px 0px 100px 0px;
    }
  }


  .home__chart {
    .home__title {
      font-size: 3vh;
      font-weight: 600;
      color: #323232;
      margin-left: 30px;
    }
    .home__graphique {
      margin-top: 50px;
    }
  }
}
